@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #d3ee68;
  background: linear-gradient(to right, #ebf305, #cde758, #b6bf63);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.888); 
  border-radius: 6%;
}
.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.card__image{
    border-radius: 10%;
    margin-top: .1rem;
    width: auto;
    padding: 5px;
    display: block;
    object-fit: cover;

}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.tag-yellow {
  background: yellow;
  color: black;
  font-size: 18px;
  font-weight: 800;
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 0.5em;
}
.tag-yellow:hover{
    transition: 0.2s;
    padding: 4px;
    opacity: 1;
}
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
.user {
  display: flex;
  gap: .5rem;
}
.user__image {
  border-radius: 50%;
}
.user__image:hover{
    transition: 1s ease-in-out;
    background: #0453a2;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
.user__image:hover svg{  
 stroke-dashoffset: -480;
}
.user__info >h5{
    color: black;
    padding: 20px;
}